body{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    background-color: gray;
    color: #ffe745;
    text-shadow: 2px 2px #f32c0b;
}

#canvas{
    margin: 0px 0px 10px 0px ;
}

/* Footer */
#socialMedia{
    display: flex;
    padding: 3em;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

#footer-name{
    margin-top: 20px;
    margin-right: 20px;
    font-size: .8em;
    align-items: center;
    justify-content: center;
}

#socialMedia a{
    margin-left: 10px;
    font-size: .8em;
    color: #ffe745;
    text-decoration: none;
}